
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$film-3d-china-primary: mat.define-palette(mat.$indigo-palette);
$film-3d-china-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$film-3d-china-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$film-3d-china-theme: mat.define-light-theme((
  color: (
    primary: $film-3d-china-primary,
    accent: $film-3d-china-accent,
    warn: $film-3d-china-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($film-3d-china-theme);



/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

$white: #fff;
$silver: #f0f0f0;
$light-gray: #acacac;
$gray: #444;
$light-black: #484747a6;
$black: rgb(43, 43, 43);
$fontSize: 13.5px;
$bg-color-dark-custom: #2b2b31;
$text-color-dark: #fff;

html, body { height: 100%; }
body {
  margin: 0; 
  background-color: $bg-color-dark-custom;
  color: $text-color-dark;
}

