<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row wraper-info">
                <div class="col-md-4 col-sm-12 left-info left-info">
                    <article>
                        <img src="{{data?.movie?.thumb_url}}" />
                    </article>
                </div>
                <div class="col-md-8 right-info">
                    <div class="title">
                        <h4>{{data?.movie?.name}}</h4>
                        <p>{{data?.movie?.origin_name}}</p>
                    </div>
                    <table class="table-info">
                        <thead>
                            <tr>
                                <th class="col1"></th>
                                <th class="col2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of dataMap, index as i">
                                <tr>
                                    <td>{{item.label}}</td>
                                    <td *ngIf="data['movie'][item.key]">{{data['movie'][item.key] ? data['movie'][item.key] : "Đang cập nhật"}}</td>
                                </tr>
                              </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <film [data]="data"></film>
        </div>
    </div>
</div>